<launch>
  <!-- This file is specific for mayo base. The eval expression is superfluous and
  it only makes sense to keep it, so that this can be adapted to other bases faster. -->
  <arg name="base" value="$(env ROS_GUMMI_BASE)" />
  <rosparam file="$(find gummi_base_template)/config/gummi.yaml" command="load"/>
  <rosparam file="$(find gummi_base_template)/config/shoulder_roll.yaml" command="load" ns="shoulder_roll"/>
  <rosparam file="$(find gummi_base_template)/config/calibration_shoulder_roll.yaml" command="load" ns="shoulder_roll/calib"/>
  <rosparam file="$(find gummi_base_template)/config/shoulder_pitch.yaml" command="load" ns="shoulder_pitch"/>
  <rosparam file="$(find gummi_base_template)/config/calibration_shoulder_pitch.yaml" command="load" ns="shoulder_pitch/calib"/>
  <rosparam file="$(find gummi_base_template)/config/shoulder_yaw.yaml" command="load" ns="shoulder_yaw"/>
  <rosparam file="$(find gummi_base_template)/config/calibration_shoulder_yaw.yaml" command="load" ns="shoulder_yaw/calib"/>
  <rosparam file="$(find gummi_base_template)/config/elbow.yaml" command="load" ns="elbow"/>
  <rosparam file="$(find gummi_base_template)/config/calibration_elbow.yaml" command="load" ns="elbow/calib"/>
  <rosparam file="$(find gummi_base_template)/config/upperarm_roll.yaml" command="load" ns="upperarm_roll"/>
</launch>
